<form action="{{wwwroot}}/local/whatsapp_moodle/send.php" method="get">
    <label for="message">{{#str}}message{{/str}}</label>
    <textarea name="message" id="message">{{defaultmessage}}</textarea>
    <button type="submit">{{#str}}sendmessage{{/str}}</button>
</form>
